@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px dashed red; */

}

:root {
    --db-lightest: rgba(255, 255, 255, 1);
    --db-lighter: rgba(248, 249, 250, 1);
    --db-light: rgba(229, 229, 229, 1);
    --db-dark: rgba(100, 97, 97, 1);
    --db-darker: rgba(0, 0, 0, 1);
    --db-primarydarker: rgba(5, 30, 52, 1);
    --db-primarydark: rgba(23, 94, 192, 1);
    --db-primary: rgba(27, 114, 232, 1);
    --db-success: rgba(59, 153, 110, 1);
    --db-accent: rgba(255, 209, 73, 1);
    --db-allert: rgba(221, 56, 72, 1);
    --db-cardtitle: #f7f7f7;

}


body {
    min-width: 450px;
    margin: auto;
    background-color: rgb(252, 252, 252);
}


/* #region header */
nav {
    background-color: var(--db-lighter);
}

nav>div {
    background-color: var(--db-lightest);
}

.boolean_logo {
    display: none;
}

.center span {
    border-right: none;
    background-color: var(--db-light);
    color: var(--db-dark);
}

.nav-item-large {
    display: none;
}

.center span:hover {
    cursor: pointer;

}

.center input[type^="text"] {
    border-left: none;
    outline: none;
    color: var(--db-dark);
    background-color: var(--db-light);
    padding-left: 0;
}

/* .center input[type^="text"]:focus {
    outline: none;
} */
.nav-link {
    color: var(--db-dark);
}

.fa-bell {
    color: orange;
}



/* #endregion header */

/* #region side bar */

.side_bar {
    background-color: var(--db-primarydarker);
    background-image: url(/assets/img/sidebar-bg.png);
    width: fit-content;
}

.side_bar a {
    color: white;
    text-decoration: none;
}

.side_bar a .home {
    transform: translateX(.2rem);
}


/* #endregion side bar */


/* #region main */
#site_main {
    display: flex;
    flex-direction: row;
    background-color: var(--db-lighter);
    /* height: 900px; */
}

.main_top {
    /* height: fit-content; */
    /* flex-direction: column-reverse; */
    margin-bottom: 1rem;
    background-color: var(--db-primary);
    color: var(--db-lightest);
    padding: 1rem 1rem;
    /* border: 1px solid red; */

}

.main_top_left,
.main_top_center,
.main_top_right {
    /* border: 1px solid yellow; */
    display: flex;



}

.main_top_left .btn a {
    color: white;
    text-decoration: none;
    background-color: var(--db-primarydark);
    padding: .25rem .5rem;
    border-radius: 20px;
}

.levels_button {
    transition: all .2s;
}

.my_collapse_horizontal {
    z-index: 999;
}

.under {
    z-index: 0;
}

.main_top_center .up>p,
.main_top_right .up>p {
    padding-top: .5rem;
}

.main_top_right .btn a {
    border: 3px solid white;
    padding: .5rem .75rem;
    border-radius: 10px;
    font-weight: 600;
}

.fa-angles-right,
.fa-plus {
    color: white;

}

.offcanvas-body {
    font-size: small;
}

.svuota {
    background-color: var(--db-accent);
}

.my_card_title {
    background-color: var(--db-lighter);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.card {
    margin-bottom: 1rem;
}

table {
    font-size: small;
}

.mr-3 {
    margin-right: .75rem;
}

.start-date,
.roi {
    display: none;
}




.done>span {
    background-color: var(--db-success);
    padding: .25rem;
    border-radius: 8px;
    color: #fff;
}

.process>span {
    background-color: var(--db-accent);
    padding: .25rem;
    border-radius: 8px;
    color: #fff;
}

.fail>span {
    background-color: var(--db-allert);
    padding: .25rem;
    border-radius: 8px;
    color: #fff;
}

.next_classes_actions span i {
    color: #444;
    border: 1px solid grey;
    padding: .25rem;
    border-radius: 5px;
    margin-right: .3rem;
}

th~th,
td~td {
    text-align: center;
}



.my_accordion {

    background-color: #fff;
    color: var(--db-dark);
    cursor: pointer;
    padding: 0rem 2rem;
    width: 100%;
    border: 1px solid var(--db-light);
    border-top: none;
    text-align: left;
    outline: #ccc;
    font-size: 1rem;
    transition: 0.3s;

}

.active,
.my_accordion:hover {
    background-color: #ccc;
}

.my_panel {
    padding: 1rem 2rem;
    display: none;
    background-color: white;
    overflow: hidden;
    border: 1px solid var(--db-light);

}

.my_accordion:after {
    content: '\2304';
    color: #777;

    font-size: 3rem;

}

.active:after {
    content: '\2303';
    font-size: 1.5rem;
    padding: 1rem;
}

.check_item,
.month,
.link {
    border: 1px solid black;
    padding: .5rem;
    gap: .5rem;
    display: flex;
}

/* #endregion main */





@media screen and (min-width:575px) {

    .main_top,
    .center_plus_right {
        flex-direction: row;
    }

    .start-date,
    .roi {
        display: table-cell;
    }


}

@media screen and (min-width:768px) {

    .boolean_logo {
        display: inline-block;
    }

    .mobile_boolean_logo {
        display: none;
    }

    .nav-item-large {
        display: inline-block;
    }

    .offcanvas-size-xl {
        --bs-offcanvas-width: min(95vw, 600px) !important;
    }
}

@media screen and (max-width:768px) {
    .side_bar_item>a>span {
        display: none;
    }




}

@media screen and (min-width:992px) {
    .boolean_logo {
        display: inline-block;
    }

    .mobile_boolean_logo {
        display: none;
    }



}