@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    border: 1px dashed red;
}

/* body {
    max-width: 1400px;
    margin: auto;
} */

.side_bar {
    height: 100%;
    width: fit-content;
}

#site_main {
    display: flex;
    flex-direction: row;
    height: 900px;
}

.main_top {
    height: fit-content;
    flex-direction: column-reverse;
}

.center_plus_right {
    flex-direction: column-reverse;
}

table {
    font-size: small;
}

.start-date,
.roi {
    display: none;
}

th~th,
td~td {
    text-align: center;
}

@media screen and (min-width:575px) {

    .main_top,
    .center_plus_right {
        flex-direction: row;
    }

    .start-date,
    .roi {
        display: table-cell;
    }


}

/* @media screen and (min-width:768px) {

    .start-date,
    .roi {
        display: table-cell;
    }

} */

@media screen and (max-width:768px) {
    .side_bar_item>a>span {
        display: none;
    }



}