@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px dashed red; */

}

body {
    min-width: 300px;
    margin: auto;
    background-color: rgb(252, 252, 252);
}

.center span {
    border-right: none;
    background-color: rgb(241, 241, 241);
}

.center span:hover {
    cursor: pointer;

}

.center input[type^="text"] {
    border-left: none;
    outline: none;

    background-color: rgb(241, 241, 241);
    padding-left: 0;
}

.center input[type^="text"]:focus {
    outline: none;
}

.fa-bell {
    color: orange;
}

.side_bar {
    background-color: blue;
    background-image: url(/assets/img/sidebar-bg.png);
    width: fit-content;
}

.side_bar a {
    color: white;
    text-decoration: none;
}

.side_bar a .home {
    transform: translateX(.2rem);
}

#site_main {
    display: flex;
    flex-direction: row;
    /* height: 900px; */
}

.main_top {
    height: fit-content;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
    border: 1px solid black;
}



.center_plus_right {
    flex-direction: column-reverse;
}

.card {
    margin-bottom: 1rem;
}

table {
    font-size: small;
}

.start-date,
.roi {
    display: none;
}

th~th,
td~td {
    text-align: center;
}



.my_accordion {

    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.my_accordion:hover {
    background-color: #ccc;
}

.my_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.check_item,
.month,
.link {
    border: 1px solid black;
    padding: .5rem;
    gap: .5rem;
    display: flex;
}


@media screen and (min-width:575px) {

    .main_top,
    .center_plus_right {
        flex-direction: row;
    }

    .start-date,
    .roi {
        display: table-cell;
    }


}

/* @media screen and (min-width:768px) {

    .start-date,
    .roi {
        display: table-cell;
    }

} */

@media screen and (max-width:768px) {
    .side_bar_item>a>span {
        display: none;
    }



}